@font-face {
    font-family: 'MontserratBlack';
    src: local('MontserratBlack'),
         url('./fonts/Montserrat-Black.ttf') format('ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: local('MontserratBold'),
         url('./fonts/MontserratBold.ttf') format('ttf');
}

@font-face {
    font-family: 'MontserratThin';
    src: local('MontserratThin'),
         url('./fonts/Montserrat-Thin.ttf') format('ttf');
}

@font-face {
    font-family: 'MontserratItalic';
    src: local('MontserratItalic'),
         url('./fonts/Montserrat-Italic.ttf') format('ttf');
}

